body {
    background-color: rgb(55, 158, 199);
    color: black;
    font-family: "Nerko One", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color:  rgb(87, 202, 248);
    color: black;
    font-family: "Nerko One", cursive;
}

.passo {
    display: none;
}
.passo.ativo {
    display:block ;
}
main {
    text-align: center;
    max-width: 90%;
    }
    img {
       max-width: 80%;
    }